

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>SABR Home</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
    <div class="container">
      <span class="navbar-brand h1">BENGALI REVIEW ANALYZER</span>
    </div>
  </nav>

  
    <div class="container">
      {% block content %}
    <!--{% with messages = get_flashed_messages() %}
      {% if messages %} -->
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          
            
          {% endfor %}
      <!--{% endif %}
    {% endwith %}-->
  {% endblock %}
    </div>
    
    
    <h3 class="title-one">SENTIMENT ANALYSIS OF</h3>
    <h4 class="title-two">BENGLALI BOOK REVIEW</h4>
  

  

<div class="main">
  
    <p class="para-one">Please enter a full URL. <em>e.g. https://www.rokomari.com/book/1307</em></p>
    <form action="#" method="post" class="main--form">
        <input class="main--form__input"type="text" id="url" name="url" placeholder="ENTER URL HERE:">
        <input type="submit" value="ENTER" class="main--form__button">
      </form>
    

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </div>
    </body>
</html>
