<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

</head>
<body class="main">
    <h1 class="title-one">SENTIMENT ANALYSIS OF</h1>
    <h1 class="title-two">BOOK REVIEW</h1>
    <form action="#" method="post" class="main--form">
        <input class="main--form__input"type="text" id="url" name="url" placeholder="ENTER URL HERE:">
        <input type="submit" value="ENTER" class="main--form__button">
      </form>
</body>
</html>
