* {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


.title-one {
  color: #663399;
}
@media only screen and (max-width: 600px) {
  .title-one {
    width: 80%;
  }
}

.title-two {
  color: #aa0078;
  margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .title-two {
    width: 80%;
    align-items: center;
  }
}
.main--form {
  display: flex;
  flex-direction: column;
  width: 80%;

  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .main--form {
    width: 80%;
  }
}

.main--form__input {
    padding: 10px;
    /* box-sizing: border-box; */
    width: 600px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .main--form__input {
    width: 80%;
  }
}
.main--form__button {
  width: 200px;
  align-items: center;
  /*align-self: flex-end; */
  margin-top: 5px;
  padding: 8px;
  background-color: orange;
  border: none;
  color: black;
  cursor: pointer;

}
@media only screen and (max-width: 600px) {
  .main--form__input {
    width: 80%;
  }
}

.alert-danger {
  margin-bottom: 50px;

}
@media only screen and (max-width: 600ps) {
  .alert-danger {
    width: 80%;
  }
}